body{
  width: 100%;
  display: flex;
  justify-content: center;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 500px;
}
h1{
  font-size: 50px;
  line-height: 55px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #18191f;
  margin-bottom: 5rem;
  text-align: center;
}
.upper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.upper input{
  width: 18rem;
  margin-right: 2rem;
  border-radius: 20px;
  padding: 0 1rem;
  font-size: 18px;
  outline: none;
  border: 1px solid #18191f;
}
.btn{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #FF8243;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 7px;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.upper .btn:hover{
  background-color: #FDA65D;
}
.btn i{
  font-size: 21px;
  margin-left: 0.5rem;
  color: #FFFFFF;
}

.lower{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.lower ul{
  width: 100%;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.lower li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #FFE699;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.lower li p{
  font-size: 21px;
  font-family:'Times New Roman', Times, serif;
}
.actions{
  display: flex;
  align-items: center;
}
.actions button{
  margin-right: 0.8rem;
  background-color: transparent;
  padding: 0;
}
.actions button:nth-child(2){
  margin-right: 0rem;
}
.actions button i{
  color:#4E9F3D ;
  font-size: 28px;
}
.actions button:nth-child(2) i{
    color: #d32828;
    font-size: 25px;
}
.actions button:hover i{
  color: #18191f;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}